sudo: required
dist: trusty
language: scala
scala: 2.11.7
jdk: oraclejdk8
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
before_install:
- sudo ./kerberos-lxc/createContainer.sh
script:
- sbt ++$TRAVIS_SCALA_VERSION test
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
notifications:
  slack:
    secure: oM/Ng9I1Fr3J82cbG46F9qN+FeyrFRRE5ArnX8+zVvmNwEfSLwcGRKD0bbbIYb6cobP62QT+utZAbD8jaIPUZUzWNvkd167hmIbwSeaxV/HTeNdva/b9tV8HGdoq910Cojirt4YTKMcFE/ZZHYPxDxnwpoJRS7h2JzeaMt8xZ/YmNACsNCzEYTuHLlBuWOLmMyqkfTqs+f/XHYhsspdhqq+uMasPbzAL3PrRTwRnqd1Al8n/LpLIWeMye/XIVjIYD1aCSQrqxXxFTqYrVcsdLueB0IR1dHdveIV5ACnEB9e+NmJrBK38lZ9Ew7u4UyDKhgHLYBbwMCqlmbwQ4ChkbGnuTqdlURKr+YqBZ69tm8VWLYh5htD////FO8/rp5YrI5iHR0d2LTvj0ktTHhIgb+dvQ9PaVZR0dSystdvt/6Lo0FN8D5a8UKUklOz2JxeAf6Kyx/H7CU8pTFMYIbMGNFBsQ5me8YxXnXtAEvkaIfHUl2zSX+CU5kBaugJTwYhH8fJ7gKgj7pNFcdy93vzOUW/rlNXb2KzqeMzvkI26rElE3EWzy3ffm6ncbpHQTCCAE7oHTV4BL4ioZ/jPS6gkRWgr4D4SvvMy0RDuhy+sAoJqyzcW4j4S4MZ3SkW8FipVaOcbooc/aS0D2lgeJ7tTsJ3u2GJe0gSxrpuUfHCOM6g=
